# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/
.env
service-account.json

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# ZegoCloud / custom config
src/config/videocall.js

# Firebase / Google services (if you have them)
google-services.json
GoogleService-Info.plist
# Native (keep if using managed workflow)
.kt/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Debug logs
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# Local environment variables
.env*.local

# TypeScript
*.tsbuildinfo

# Generated native folders (managed Expo)
/ios
/android